.section__advertising {
    background-image: url('../section__advertising/bg.png');
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.black__headline, .section__advertising--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.black__headline {
    padding-top: 133px;
}

.section__advertising--list {
    padding-top: 55px;
}

.section__advertising--list__elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
}

.section__advertising--list__headline {
    font-family: "LifehackMedium";
    font-size: 24px;
}

.section__advertising--list__elem--text {
    font-family: "UbuntuLight";
    font-size: 14px;
}


