.navigation__list, .navigation__elem  { 
    list-style: none;
}

.navigation__list {
    position: fixed;
    right: 100px;
    top: 60px;
    z-index: 10;
}
   
.navigation__elem {
    content: '';
    position: relative;
    width: 6px;
    height:6px;
    background-color: #ffffff;
    margin-top: 15px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.navigation__elem:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.navigation__elem:hover.navigation__elem:after {
    opacity: 1;
}

.banner__img {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 451px;
}



 