.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#37393b, 0.5);
   transition: opacity 0.3s;

}

.popup__overlay {
    background-color: #ffffff;
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(20px);
    font-size: rem(14px);
}

.popup__close-link {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
 }


 .popup__close-svg {
    max-width: rem(20px);
    max-height: rem(20px);
    }

.coment__name-popup {
    color: #000000;
    padding-bottom: rem(20px);
}

.popup__text {
    font-family: 'Ubuntu-Light';
    line-height: 1.714;
}

.form__popup {
    top: -10000px;
    left: 0;
    opacity: 0;
}

.reviews__popup {
    top: -10000px;
    left: 0;
    opacity: 0;
}

.popup__overlay-reviews {
    width: rem(460px);
    height: rem(256px);
}

.popup__overlay-form {
    width: rem(200px);
    height: rem(100px);
    align-items: center;
    padding: rem(10px);
}

.popup__text-form {
    padding-bottom: rem(10px);
    text-align: center;
}