.section__container__how-we-work {
    justify-content: center;
    align-items: center;

    @include phones {
        width: 95%;
        text-align: center;
    }
}

.video__container {
    width: rem(660px);
    height: rem(420px);
    position: relative;

    &.off {
        background-image: url(../../img/screen_saver.png);
        background-size: contain; 
        background-position-y: center;
        background-repeat: no-repeat;
    }

    /* @include tablets {
        width: 90%;
    } */
    @include phones {
        width: rem(395px);
        height: rem(266px);
    }
}

.video {
    width: 100%;
    height: 100%;

    &.off {
        display: none;
    }
}

.player__control {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: rem(22px);
    left: 0;
    right: 0;
    height: rem(22px);
    width: 100%;
    background: #3e3e3e;
}

.player__control-play {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.control__btn-container {
    width: rem(30px);
    height: rem(30px);
    margin: 0 rem(10px);
    cursor: pointer;
    position: relative;
}

.control__btn {
    border: none;
    background: none;
    cursor: pointer;
}

.control__btn-svg {
    width: 100%;
    height: 100%;
    fill: #626262;
}

.conrol-play__rewind {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conrol-play__volume {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.pause {
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    left: rem(8px);
    width: rem(3px);
    height: rem(12px);
    border-radius: rem(2px);
    background: #626262;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);

    &:after {
    position: absolute;
    content: '';
    top: 0;
    left: rem(5px);
    width: rem(3px);
    height: rem(12px);
    border-radius: rem(2px);
    background: #626262;
    padding: 0;
    }
    
    &.active {
        display: block;
        z-index: 1000;
    }
}

.line {
    /* display: inline-block;
    vertical-align: baseline; */
    cursor: pointer;
    width: 100%;
    height: rem(5px);
    background-color: #626262;
    border-radius: rem(3px);
    -webkit-appearance: none; 
    
    &::-webkit-slider-thumb {
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background-color:  #626262;
      -webkit-appearance: none; 
    }
}

.rewind__line {
    width: 100%;

    @include tablets {
        margin-right: rem(20px);
    }
    @include phones {
        margin-right: rem(20px);
    }

}

.volume__line {
    width: rem(55px);
    margin-right: rem(10px);
}

.point {
    position: absolute;
    content: '';
    top: 50%;
    width: rem(12px);
    height: rem(12px);
    background: #626262;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.point__volume {
        left: 0;
    }

    &.point__rewind {
        left: 0;
    }

}

.volume {
    width: 100%;
    height: 100%;
    position: relative;
}

.play {
    display: none;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    cursor: pointer;

    &.active {
        display: block;
    }
}

.control__btn-volume__off {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: '';
    width: rem(2px);
    height: rem(20px);
    border-radius: rem(2px);
    background: red;
    padding: 0;
    

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        content: '';
        width: rem(2px);
        height: rem(20px);
        border-radius: rem(2px);
        background: red;
        padding: 0;
       
    }

    &.active {
        display: block;        
    }
}

.volume-on {
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

