.sixth__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 650px; }

.sixth__section--cell {
  background-size: cover;
  background-position-x: 70%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  .sixth__section--cell .sixth__section--background {
    display: block;
    position: relative; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image1 {
      position: absolute;
      top: -30px;
      left: 0px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image2 {
      position: absolute;
      top: -80px;
      left: -272px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image3 {
      position: absolute;
      top: -30px;
      left: -325px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image4 {
      position: absolute;
      top: -200px;
      left: -470px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image5 {
      position: absolute;
      top: -5px;
      left: 0px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image6 {
      position: absolute;
      top: -5px;
      left: -187px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image7 {
      position: absolute;
      top: -5px;
      left: -125px; }
    .sixth__section--cell .sixth__section--background .sixth__section--background__image8 {
      position: absolute;
      top: -3px;
      left: -167px; }

.sixth__section--coments {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: default; }

.coment__name {
  font-family: "Gagalin";
  font-size: 14px;
  text-transform: none;
  /* padding-top: 50px; */
  color: #ffffff; }

.coment__text {
  font-family: "UbuntuLight";
  font-size: 14px;
  padding-top: 17px;
  color: #ffffff; }

.coment__button {
  font-family: "UbuntuMedium";
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 17px;
  padding: 11px 15px;
  margin-right: 95px;
  background-color: #2f3234;
  border-radius: 5px;
  cursor: pointer; }

/* .sixth__section--cell:hover:after {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
} */
.sixth__section--cell:hover .sixth__section--coments {
  opacity: 1; }
