.second__section { background-image: url("./bg.png"); background-size: cover; min-height: 650px; height: 100%; width: 100%; }

.black__headline, .second__section--list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; list-style: none; }

.black__headline { padding-top: 133px; }

.second__section--list { padding-top: 55px; }

.second__section--list__elem { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-right: 35px; }

.second__section--list__headline { font-family: "LifehackMedium"; font-size: 24px; }

.second__section--list__elem--text { font-family: "UbuntuLight"; font-size: 14px; }
